body{
  position: relative;
}

html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4{
  font-family: Poppins;
}
h1 {
  font-size: 18px;
  font-weight: 500;

}
h2 {
  font-size:18px;
  font-weight: 500;
}
h3{
  font-size: 32px;
  font-weight: 600;
}
 
p{
  font-family: Poppins;
}

.about{
  width: 30%;
  height:100vh;
  position: fixed;
  float: left;
}

.content{
  /* background-color: #ffffff; */
  position: static;
  width: 70%;
  height: 100vh;
  float: right;
}

#title-wrapper {
  /* background-color: whitesmoke; */
  padding: 10px;
  width: auto;
  height: auto;
  position: relative;
}

#title-wrapper img{
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  margin: 10px 5px 10px 30px;
}
#title-wrapper h1{
  display: inline-block;
  width: auto;
  position: relative;
  margin: 10px 0px 0px 0px;
}

#author-name{
  position: relative;
  padding: 10px;
  margin:80px auto 0px auto;
  width: auto;
  height:auto;
}

#author-name h2{
  padding-bottom: 10px;
  width: auto;
  margin: 60px 10px 0 30px;
  color:#4720BA;
  border-bottom: 3px solid #4720BA;
}
#section-text{
  position: relative;
  padding: 10px;
  margin: -10px auto 90px auto;
  width: auto;
  height:auto;
}

#section-text p{
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 10px 0 30px;
  color:black;
}
#nav-wrapper {
  position: relative;
  padding: 10px;
  margin: 10px auto 20px auto;
  width: auto;
  height:auto;
  text-align: right;
}
#nav-wrapper ul {
  list-style-type: none;
  margin: -50px 0 50px 0;
  padding-right: 15px;
}
#nav-wrapper ul li{
  margin: 10px 0 0 0px;
}
#nav-wrapper ul li a{
  font-family: Poppins;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

#nav-wrapper ul li a:hover{
  border-bottom: 3px solid #4720BA;
}

.social-wrapper {
  margin: 0 auto ;
  position: absolute;
  width: 100% ;
  height:auto;
  text-align: center;
  bottom: 0;
}
.social-wrapper .github-wrapper{
  margin: 0;
  position: relative;
  width: 40px;
  height:40px;  
  display: inline-block;
  overflow: hidden;
}
.social-wrapper .github-wrapper #github-logo{
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: auto;
}

.social-wrapper .linkedin-wrapper{
  margin: 0;
  position: relative;
  width: 40px;
  height:40px;  
  display: inline-block;
  overflow: hidden;
  }

.social-wrapper .linkedin-wrapper #linkedin-logo{
  width: auto;
  height: 25px;
  display: inline-block;
  margin: auto;
}
/* ------------------------- */
/* ------------------------- */

#project-section{
  margin-top: 0px;
}

/* ------------------------- */
/* ------------------------- */

.content .title-section {
  height: auto;
  width: auto;
  padding: 0 200px 0 50px;
  position: relative;
  overflow: hidden;
}
.content .title-section p{
  line-height: 30px;
}

.content .content-wrapper {
  height: auto;
  width: auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.content .content-wrapper .about-wrapper{
  padding: 90px 200px 0 100px;
  margin: 40px 0 100px 0;
  position: relative;
}
.content .content-wrapper .about-wrapper h3 {
  margin-bottom: 25px;
}
.content .content-wrapper .about-wrapper p{
  padding: 0 15px 0 0;
  text-justify: inter-word;
  display: block;
  line-height: 30px;
  border-right: 3px solid #4720BA;
}
/* ------------------------------------ */
article {
  background-color: #4720BA;
  float: left;
  position: relative;
  height: 200px;
  width: 150px;
  overflow: hidden;
  padding: 10px;
  margin: 10px 10px 35px 30px;
  text-align: right;
}

article:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.05);
}

article #article-text-wrapper{
  overflow: hidden;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0px;
  right: 0px;
  position: absolute;
}
article #article-text-wrapper h3{
  font-size: 14px;
  font-weight: 400;
  color: white;
  height:fit-content;
  width: fit-content;
  float: right;
  position: relative;
  margin: 0 5px 5px 5px;
}

article #article-text-wrapper h2{
  padding: 0;
  font-size: 22px;
  font-weight: 500;
  color: white;
  height: auto;
  width: auto;
  float: right;
  position: relative;
  margin: 0 5px 0px 5px;
}
